body {
    margin: 0px;
    background-color: lightgray;
    min-height: 100vh;
    font-family:'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header {
    padding: 30px;
    line-height: 1.2;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.container {
    height: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 0px;
    padding: 0;
    gap: 0;
    background-color: #fefefe;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.gridRow {
    display: flex;
    margin: 0;
    padding: 0;
    flex: 1;
    justify-content: space-evenly;
}   

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 200px;
}

.footer {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    font-size: 20px;
}

button, input {
    width: 100%;
    color: "#333";
}

button {
    padding: 10px 20px;
    border: 1px solid "#333";
    border-radius: 5px;
}

button.active {
    background-color: #333333;
    color: #ededed;
}

button, input[type='color'] {
  transition: transform 0.1s ease-in-out;
}

button:hover, input[type='color']:hover {
  transform: scale(1.05);
}

input[type='color']:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(1);
}

input[type='color'] {
    width: 80px;
    height: 80px;
    border: none;
}

.size-value {
    margin-bottom: -20px;
    font-size: 20px;
}

input[type='range'] {
    background-color: #ededed;
}
  